<div class="jumbotron">
    <h1>API RentMoto</h1>
    <p class="lead">Aqui você encontrará informações sobre a API.</p>
    <p><a href="/swagger" class="btn btn-primary btn-lg">Para abrir o Swagger da API Clique aqui &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tecnologias</h2>
        <p>EntityFramework - ORM</p>
        <p>NLOG - logging</p>
        <p>Docker - Container</p>
        <p>.Net - Framework</p>
        <p>RabbitMQ - Mensageria</p>
        <p>PostgreSQL - Banco</p>
        <p>Swashbuckle - Documentação</p>
        
    </div>
    <div class="col-md-4">
        <h2>Logs</h2>
        <p>O sistema possui controle de Log, tanto de aplicação quanto console. Você pode encontrar os arquivos de LOG na pasta API_RentMoto/logs.</p>
        <br /><br />
        <h2>Consumer</h2>
        <p>O Consumer é um Console que irá processar a mensageria. Vai puxar 1 mensagem da fila de motos por vez, e se a mensagem for equivalente a uma moto 2024, ele vai gerar um aviso
        e vai gravar a notificação no banco de dados (Tabela Notificacoes).</p>



    </div>
    <div class="col-md-4">
        <h2>Documentação</h2>
        Você pode abrir a documentação da API no botão abaixo
        <p><a class="btn btn-default" href="/swagger/docs/v1">Documentação da API &raquo;</a></p>
        <br /><br />
    </div>
</div>
