<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <targets>
    <!-- Log para arquivo -->
    <target xsi:type="File" name="logfile" fileName="logs/API.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />
    <!-- Log para console (opcional) -->
    <target xsi:type="Console" name="logconsole" layout="${longdate}|${level}|${logger}|${message}" />
  </targets>

  <rules>
    <!-- Todas as mensagens Info e acima vão para logfile e logconsole -->
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
  </rules>
</nlog>